$transition-button: 225ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-slider: all 500ms ease-in-out;
$transition-header: all 333ms cubic-bezier(0.4, 0, 0.2, 1);

$navbar-height: 100px;
$header-height: 75vh;

$bdr: 2px;

/**
* Shadows
*/
$shadow-color: #b6b6b6;

$shadow-sm: 0 1px 3px rgba($shadow-color, 0.12),
	0 1px 2px rgba($shadow-color, 0.24);
$shadow-md: 0 3px 6px rgba($shadow-color, 0.16),
	0 3px 6px rgba($shadow-color, 0.23);
$shadow-lg: 0 14px 28px rgba($shadow-color, 0.25),
	0 10px 10px rgba($shadow-color, 0.22);
$shadow-xl: 0 19px 38px rgba($shadow-color, 0.3),
	0 15px 12px rgba($shadow-color, 0.22);

/**
* Hamburgers
*/
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 27px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 5px;
$hamburger-layer-color: $color__primary;
$hamburger-active-layer-color: black;
$hamburger-hover-opacity: 1;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

// Remove or comment out the hamburger types you don’t want
// or need, so they get excluded from the compiled CSS.
$hamburger-types: (
	//   3dx,
		//   3dx-r,
		//   3dy,
		//   3dy-r,
		//   3dxy,
		//   3dxy-r,
		//   arrow,
		//   arrow-r,
		//   arrowalt,
		//   arrowalt-r,
		//   arrowturn,
		//   arrowturn-r,
		//   boring,
		collapse,
	//   collapse-r,
		//   elastic,
		//   elastic-r,
		//   emphatic,
		//   emphatic-r,
		//   minus,
		//   slider,
		//   slider-r,
		//   spring,
		//   spring-r,
		//   stand,
		//   stand-r,
		//   spin,
		//   spin-r,
		//   squeeze,
		//   vortex,
		//   vortex-r
);
