#footersvg svg {
    width: 100%;
}

.site-footer {
    position: relative;
    background-color: $black;
    color: $color__primary;
    padding: 4rem 0;
    font-size: .9rem;

    a {
        color: $color__primary;
    }

    #back-to-top {
        display: block;
        width: 40px;
        height: 40px;
        background-image: url(../../images/back-2.svg);
        @include background(50%, 50%, 50%, no-repeat);
        background-color: $color__primary;
        position: absolute;
        top: -20px;
        left: calc(50% - 20px);
        border-radius: 50%;
        outline: none;
    }
}

.site-widgets {
    margin-bottom: 3rem;

    h3 {
        font-size: 1.3rem;
    }

    .site-widgets--item {
        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            a {
                display: inline-block;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .medium-button {
            @include medium-button;
            color: $black;
        }
    }
}

.site-info {
    .row div:last-of-type {
        text-align: right;
    }

    .main-item {
        margin-left: 1rem;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

/* Screen size < 992px */
@include media-breakpoint-down(md) {
    .site-info {
        .row div:last-of-type {
            text-align: left;
        }
    }
}



/* Screen size < 576px */
@include media-breakpoint-down(xs) {
    .site-widgets {
        .site-widgets--item {
            margin-bottom: 2rem;
            text-align: center;
        }
    }

    .site-info {
        text-align: center;

        .custom-logo-link {
            display: block;
            margin-bottom: 1rem;
            outline: none;

            img {
                display: block;
                margin: 0 auto;
            }
        }

        .row div {
            &:first-of-type {
                margin-bottom: 0.5rem;
            }

            &:last-of-type {
                text-align: center;
            }
        }
    }
}