#header {
	position: fixed;
	width: 100%;
	top: 0;
	display: block;
	z-index: 99;

	.navbar {
		padding: 6px 0px;
		transition: $transition-button;
		background: transparent;

		.container {
			padding: 0px 20px;

			@include media-breakpoint-down(lg) {
				padding: 0px 20px;
			}
		}

		.navbar-brand {
			// 12px is from `.bottom` padding Y (6 x 2)
			height: $navbar-height - 12px;
			padding: 0;
			transition: $transition-button;
			max-width: 88px;

			a {
				position: relative;
				display: inline-block;
				width: 100%;
				height: 100%;

				img {
					height: calc(100% - 20px);
					width: 100%;
					object-fit: contain;
					object-position: 0% 50%;

					@media screen and (max-width: 350px) {
						max-width: 75px;
					}
				}
			}
		}

		.navbar-toggler {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			background: transparent;

			&:focus,
			&:hover {
				background: mix($color__primary, transparent, 20);
			}

			.icon {
				color: white;
			}
		}

		.book-btn {
			padding: 6px 15px;
			font-size: 0.9rem;

			&.desktop {
				margin-left: 20px;

				@include media-breakpoint-down(md) {
					display: none;
				}
			}

			&.mobile {
				margin-right: 20px;

				@include media-breakpoint-up(lg) {
					display: none;
				}

				@media screen and (max-width: 350px) {
					padding: 6px;
					margin-right: 10px;
				}
			}
		}

		.right-nav {
			width: fit-content;
			flex-grow: 0;

			.navbar-nav {
				@include media-breakpoint-down(md) {
					padding-top: 20px;
				}

				& > li {
					margin-left: 20px;

					@include media-breakpoint-down(md) {
						margin-left: 0px;
					}
				}

				li a {
					padding-top: 10px;
					padding-bottom: 10px;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 0.95rem;

					&:hover,
					&:focus {
						color: $color__primary;
					}
				}

				li.active > a {
					color: $color__primary;
				}

				a.dropdown-toggle::after {
					margin-left: 10px;
				}
			}
		}
	}

	&.small .navbar .navbar-brand {
		height: 60px;
	}
}
