.site-header {
	width: 100vw;
	padding: 2.7rem 0 3rem 0;
	transition: $transition-header;

	&.header-scrolled {
		padding: 1.25rem 0;
		background-color: $color__secondary;

		.custom-logo {
			max-width: 100px;
		}

		.current_page_item {
			a {
				color: $color__primary;
			}
		}

		.dropdown-menu {
			background-color: $color__secondary;
		}
	}

	@media (max-device-width: 920px) and (orientation: landscape) {
		padding: 1rem 0 1rem 0;
	}
}

.home-header {
	padding: 2.7rem 0 3rem 0;
	position: relative;
	background-color: #007bff80;
}

.custom-logo {
	max-width: 120px;
	height: auto;
	width: 120px;
	transition: $transition-header;
}

.main-navigation {
	display: flex;
	align-items: center;
	.active {
		color: $color__primary;
	}

	.main-navigation--bottom {
		visibility: hidden;
		display: none;
	}

	.main-item {
		display: inline-block;
		color: $white;
		text-transform: capitalize;
		text-decoration: none;
		margin-left: 1rem;
		font-size: $font__nav-header;
		&:hover,
		&:focus {
			color: $color__primary;
		}
	}
	.active {
		color: $color__primary;
	}

	.nav-link {
		color: $black;
		transition: ease-in-out 100ms;

		&:hover {
			color: $color__primary;
		}
	}

	.dropdown-menu {
		border: none;
		background-color: transparent;

		.dropdown-item {
			color: $white;
			transition: ease-in-out 100ms;

			&:hover {
				background-color: transparent;
				color: $color__primary;
			}
		}
	}
}

.menu-buttons {
	color: $white;

	.phone-data {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: flex-end;
		height: 100%;
		justify-content: center;

		a {
			color: $white;
			text-decoration: none;

			&:hover {
				color: $color__primary;
			}
		}
	}
	.hamburger {
		color: $white;
		display: none;
		outline: none;
		margin-left: 1rem;
		transform: translateY(3px);

		.hamburger-inner,
		.hamburger-inner::after,
		.hamburger-inner::before {
			background-color: $white;
		}
	}
}

/* Screen size < 992px */
@include media-breakpoint-down(md) {
	.site-header {
		> .container {
			width: 100%;
			max-width: none;

			> .row {
				margin-right: 0;
				margin-left: 0;

				.logo {
					position: relative;
					z-index: 10;
					padding-left: 20px;
				}
			}
		}
	}

	.main-navigation {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		transition: $transition-header;
		background-color: $color__secondary;

		&.is-active {
			opacity: 1;
			visibility: visible;
			overflow: auto;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 150px 40px 80px 40px;

			.main-item {
				margin-bottom: 15px;
			}

			.main-navigation--bottom {
				display: flex;
				visibility: visible;
				width: 100%;
				color: $white;
				padding-top: 60px;
				> div {
					padding: 0;
					margin-bottom: 20px;
				}

				.bottom-item--label {
					text-transform: capitalize;
				}

				.bottom-item--link {
					a {
						font-weight: 400;
						font-size: 1rem;
						color: $white;
					}
				}
			}

			> a {
				display: inline-block;
				color: $white;
				text-transform: capitalize;
				font-size: 1.6rem;
				margin: 0;

				&:hover {
					color: $color__primary;
				}
			}

			.current-page-item {
				a {
					color: $color__primary;
				}
			}
		}
	}

	.nav {
		display: flex;
		flex-direction: column;

		.show {
			.dropdown-item {
				position: relative;
				left: 50%;
				top: -40px;
			}
		}
	}

	.menu-buttons {
		margin-left: auto;
		.phone-data {
			display: none;
		}

		.hamburger {
			display: inline-block;
			z-index: 1002;
		}
	}
}

/* Screen size < 576px */
@include media-breakpoint-down(xs) {
	.custom-logo {
		max-width: 95px;
	}

	.main-navigation {
		&.is-active {
			padding: 120px 40px 80px 40px;

			a {
				font-size: 1rem;
			}
		}
	}
}

@media (max-device-width: 920px) and (orientation: landscape) {
	.site-header {
		width: 100vw;
		padding: 1rem 0 1rem 0;

		&.header-scrolled {
			padding: 0.75rem 0 0.75rem 0;
		}
	}

	.main-navigation {
		height: 100vh;
		width: 100vw;
		display: flex;
		flex-direction: row;
		align-items: center;

		&.is-active {
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			justify-content: flex-end;
			padding: 0;

			.nav {
				height: 80%;
				width: 100%;
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				padding-left: 1rem;
			}

			.main-navigation--bottom {
				display: flex;
				align-items: flex-start;
				justify-content: flex-start;
				height: 80%;
				padding: 8px 16px;
			}
		}
	}
}
