input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
input[type="date"],
select,
textarea {
	width: 40%;
	height: 50px;
	border: none;
	padding: 0 0 0 2rem;
	background: $color__background-btn-lg;
	box-shadow: none;

	&::placeholder {
		font-style: italic;
		color: $color__text-main;
	}

	&:hover,
	&:focus {
		box-shadow: none;
	}
}
input[type="submit"] {
	width: 20%;
	height: 50px;
	color: $color__default-black;
	background: $color__primary;
	text-align: center;
	font-size: 1rem;
	transition: all 0.25s ease-in-out;
}
