/*!
Theme Name: Starter Theme
Theme URI: http://underscores.me/
Author: Wappstars
Author URI: https://wappstars.nl
Description: Custom theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: starter-theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

cones is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

//Fonts
@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700,900&display=swap");

/*--------------------------------------------------------------
Vars and mixins
--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";

// NPM packages /////////////////////////////////////////////////////////////////
@import "bootstrap";
@import "swiper";
@import "hamburgers";
// @import 'jssocials-theme-flat';
// @import 'font-awesome';
// NPM packages END /////////////////////////////////////////////////////////////

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
@import "normalize";

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@import "typography/typography";

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
@import "site/site";
/*--------------------------------------------------------------
# Component
--------------------------------------------------------------*/
@import "component/component";

/* Screen size < 1200px */
@include media-breakpoint-down(lg) {
}

/* Screen size < 992px */
@include media-breakpoint-down(md) {
}

/* Screen size < 768px */
@include media-breakpoint-down(sm) {
}

/* Screen size < 576px */
@include media-breakpoint-down(xs) {
}
